.agents
.codex
.DS_Store
.env
.env.*
**/.env
**/.env.*
!**/.env.example
.git
.github
.idea
.next
.npmrc
.turbo
.vscode
**/.next
**/.npmrc
**/.turbo
**/coverage
**/dist
**/node_modules
*.key
*.log
*.pem
coverage
docker-compose.override.yml
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
